In [1]:
a = {}
type(a)

dict

In [3]:
# a = {<key>:<value>,<key>:<value>,...}

In [4]:
a = {'A':'Apple','B':'Ball'}
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [5]:
# indexed
# deuplicate members
# ordered
# mutable

In [6]:
a['B']

'Ball'

In [7]:
a = {'A':'Apple','B':'Ball','a':'Apple'}
a

{'A': 'Apple', 'B': 'Ball', 'a': 'Apple'}

In [8]:
a = {'A': 'Apple', 'B': 'Ball'}
a['A'] = 'Ant'
print(a)

{'A': 'Ant', 'B': 'Ball'}

In [9]:
a = {}
a['A'] = "Apple"
a

{'A': 'Apple'}

In [11]:
info = {}
for i in range(3):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter name = Rajesh
Enter phone = 8563214
Enter name = Ramu
Enter phone = 98564712
Enter name = Rita
Enter phone = 98564123
{'Rajesh': 8563214, 'Ramu': 98564712, 'Rita': 98564123}

In [12]:
for i in info:
    print(i)

Rajesh
Ramu
Rita

In [13]:
for i in info.values():
    print(i)

8563214
98564712
98564123

In [14]:
for i in info.items():
    print(i)

('Rajesh', 8563214)
('Ramu', 98564712)
('Rita', 98564123)

In [15]:
a = {'A':'Apple'}
b = {'B':'Ball'}
a.update(b)
a

{'A': 'Apple', 'B': 'Ball'}

In [16]:
del a['A']
print(a)

{'B': 'Ball'}

In [17]:
a = {'A': 'Apple', 'B': 'Ball'}
a.pop('A')

'Apple'

In [18]:
a

{'B': 'Ball'}

In [19]:
# list inside dicts

In [20]:
a = {'Ram':['Movie','Reading Books'],'Shyam':['Movie','Tick Tok']}
print(a)

{'Ram': ['Movie', 'Reading Books'], 'Shyam': ['Movie', 'Tick Tok']}

In [21]:
a['Ram']

['Movie', 'Reading Books']

In [22]:
a = {'Ram':[9841232234,9808556543],'Shyam':[9843556763,9808556512]}
a['Ram']

[9841232234, 9808556543]

In [23]:
a['Hari'] = [9843556543,9890876654]
a

{'Ram': [9841232234, 9808556543],
 'Shyam': [9843556763, 9808556512],
 'Hari': [9843556543, 9890876654]}

In [24]:
a['Ram'][0] = 9843009988
a

{'Ram': [9843009988, 9808556543],
 'Shyam': [9843556763, 9808556512],
 'Hari': [9843556543, 9890876654]}

In [25]:
a = {'NTC':[9843009988,9843556763,9843556543],
    'NCELL':[9808556543,9808556512,9890876654],
    'Name':['Ram','Shyam','Hari']}

In [26]:
a = {}
ntc = []
ncell = []
name = []

n = int(input("Enter n = "))
for i in range(n):
    na = input("Enter name = ")
    nt = input("Enter ntc no = ")
    nc = input("Enter ncell no = ")
    name.append(na)
    ntc.append(nt)
    ncell.append(nc)
    
# a = {'Name':name,'Ntc':ntc,'Ncell':ncell}
a['Name'] = name
a['Ntc'] = ntc
a['Ncell']=ncell
print(a)

Enter n = 2
Enter name = Rima
Enter ntc no = 98421563
Enter ncell no = 9812365
Enter name = Nima
Enter ntc no = 841752
Enter ncell no = 980125
{'Name': ['Rima', 'Nima'], 'Ntc': ['98421563', '841752'], 'Ncell': ['9812365', '980125']}

In [27]:
# a = {'Ram':[9841232234,9808556543],'Shyam':[9843556763,9808556512]}
a = {}
n = int(input("Enter n = "))
for i in range(n):
    na = input("Enter name = ")
    nt = input("Enter ntc no = ")
    nc = input("Enter ncell no = ")
    a[na] = [nt,nc]
print(a)

Enter n = 2
Enter name = Rash
Enter ntc no = 985632
Enter ncell no = 9801236
Enter name = Rimi
Enter ntc no = 9841632
Enter ncell no = 9801236
{'Rash': ['985632', '9801236'], 'Rimi': ['9841632', '9801236']}

In [28]:
# tuple inside dicts
# {'Ram': ('9841556540', '98085578677'), 'Shyam': ('98417897', '98086757')}
a = {}
n = int(input("Enter n = "))
for i in range(n):
    na = input("Enter name = ")
    nt = input("Enter ntc no = ")
    nc = input("Enter ncell no = ")
    a[na] = (nt,nc)
print(a)

Enter n = 2
Enter name = Ram
Enter ntc no = 9812345
Enter ncell no = 901032
Enter name = shyam
Enter ntc no = 9861235
Enter ncell no = 98012365
{'Ram': ('9812345', '901032'), 'shyam': ('9861235', '98012365')}

In [29]:
# dicts inside dicts
# a = {'<key>':<dicts>,'<key>':<dicts>,}
a = {'Ram':{'NTC':9843556789,'NCELL':9808556543},
    'Shyam':{'NTC':9843556756,'NCELL':9808556512}}
print(a)

{'Ram': {'NTC': 9843556789, 'NCELL': 9808556543}, 'Shyam': {'NTC': 9843556756, 'NCELL': 9808556512}}

In [30]:
for i in a.items():
    print(i)

('Ram', {'NTC': 9843556789, 'NCELL': 9808556543})
('Shyam', {'NTC': 9843556756, 'NCELL': 9808556512})

In [31]:
a['Ram']['NCELL']

9808556543

In [32]:
# Addind elements and values
a = {'Ram': {'NTC': 9843556789, 'NCELL': 9808556543}, 
     'Shyam': {'NTC': 9843556756, 'NCELL': 9808556512}}
a['Hari'] = {'NTC':9878776543,'NCELL':9808667654}
print(a)

{'Ram': {'NTC': 9843556789, 'NCELL': 9808556543}, 'Shyam': {'NTC': 9843556756, 'NCELL': 9808556512}, 'Hari': {'NTC': 9878776543, 'NCELL': 9808667654}}

In [33]:
a['Hari']['NCELL'] = 535345345

In [34]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    na = input("Enter name = ")
    nt = input("Enter ntc no = ")
    nc = input("Enter ncell no = ")
    a[na] = {'NTC':nt,'NCELL':nc}
print(a)

Enter n = 2
Enter name = Nisha
Enter ntc no = 9874522
Enter ncell no = 9812365
Enter name = Neha
Enter ntc no = 9845632
Enter ncell no = 980123
{'Nisha': {'NTC': '9874522', 'NCELL': '9812365'}, 'Neha': {'NTC': '9845632', 'NCELL': '980123'}}

In [35]:
a = {'A':"Apple",'B':'Ball'}
a

{'A': 'Apple', 'B': 'Ball'}

In [36]:
b = {["Apple","Ant"]:"A"}
a

TypeError: unhashable type: 'list'

In [37]:
b = {("Apple","Ant"):"A"}

In [38]:
# student result
# accounting
# CRUD of any certain record