In [1]:
a = [1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
# list is
# ...Mutable datatype
# ...Ordered
# ...It follows indexing
# ...It can have multipe values

In [3]:
a = ["Apple","Ball","Cat"]
print(a[-1])

Cat

In [4]:
a = [0,1,2,3,4,5,6,7,8,9,10]
a[0:6]

[0, 1, 2, 3, 4, 5]

In [5]:
a = [0,1,2,3,4,5,6,7,8,9,10]
a[0:9:2]

[0, 2, 4, 6, 8]

In [6]:
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(b+a)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [7]:
a = [1,1,2,2,3,3,4,4,5,6,1,2]
print(a)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 1, 2]

In [8]:
a = ["Apple","Ball","cat"]
a[0] = 'Ant'
print(a)

['Ant', 'Ball', 'cat']

In [9]:
a = [1,2,3,4]
a*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
a = ["Apple","Ball","cat"]
for i in a:
    print(i)

Apple
Ball
cat

In [11]:
a = ["Apple","Ball","cat"]
for i in range(3):
    print(a[i])

Apple
Ball
cat

In [12]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name= input("Enter name = ")
    data = data+[name]
    
print(data)

Enter n = 2
Enter name = Ram
Enter name = Raj
['Ram', 'Raj']

In [13]:
data[1]

'Raj'

In [14]:
[]+["Ram"]

['Ram']

In [16]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    no= int(input("Enter no = "))
    data = data+[no]
print("The list is = ",data)
print("The max value is = ",max(data))
print("The min value is = ",min(data))
print("The sum value is = ",sum(data))
print("The avg value is = ",sum(data)/n)

Enter n = 3
Enter no = 5
Enter no = 6
Enter no = 7
The list is =  [5, 6, 7]
The max value is =  7
The min value is =  5
The sum value is =  18
The avg value is =  6.0

In [17]:
data.sort()

In [18]:
print(data)

[5, 6, 7]

In [19]:
data.reverse()
print(data)

[7, 6, 5]

In [20]:
a = ["ball",'Zebra','1xray','@bat']
a.sort()
print(a)

['1xray', '@bat', 'Zebra', 'ball']

In [21]:
a = ["ball",'Zebra','1xray','@bat']
print(sorted(a))
print(a)

['1xray', '@bat', 'Zebra', 'ball']
['ball', 'Zebra', '1xray', '@bat']

predefined functions of list

In [22]:
a = [0]
b = [1]
print(a+b)

[0, 1]

In [23]:
a = [0]
b = "Apple"
a.append(b)
print(a)

[0, 'Apple']

In [24]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    no= int(input("Enter no = "))
    data.append(no)
print("The list is = ",data)
print("The max value is = ",max(data))
print("The min value is = ",min(data))
print("The sum value is = ",sum(data))
print("The avg value is = ",sum(data)/n)

Enter n = 3
Enter no = 12
Enter no = 13
Enter no = 14
The list is =  [12, 13, 14]
The max value is =  14
The min value is =  12
The sum value is =  39
The avg value is =  13.0

In [25]:
a=["Apple","Ball","cat","Dog"]
a.append("Fish")
print(a)

['Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [26]:
a=["Apple","Ball","cat","Dog"]
a.insert(0,"Fish")
print(a)

['Fish', 'Apple', 'Ball', 'cat', 'Dog']

Double-click (or enter) to edit

In [27]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
if 'Fish' in a:
    print("Yes")
else:
    print("No")

Yes

In [28]:
a = "Fish, Apple, Ball, cat, Dog"
if 'Fi' in a:
    print("Yes")
else:
    print("No")

Yes

In [29]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
a[0].upper()

'FISH'

In [30]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
b = []
for i in a:
    x = i.upper()
    b.append(x)
print(b)

['FISH', 'APPLE', 'BALL', 'CAT', 'DOG']

In [32]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
search = input("Enter search = ").lower()
if search in a:
    print("Yes")
else:
    print("No")

Enter search = Apple
No

In [36]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
search = input("Enter search = ").lower()
if search in a:
    print("Yes")
else:
    print("No")

Enter search = asdf
No

In [34]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
search = input("Enter value of search = ").lower()
for i in a:
    if i.lower() == search:
        print("Yes")
        break
else:
    print("No")

Enter value of search = Apple
Yes

In [35]:
a = ['Fish', 'Apple', 'Ball', 'cat', 'Dog']
search = input("Enter value of search = ").lower()
for i in a:
    if i.lower() == search:
        print("Yes")
        break
else:
    print("No")

Enter value of search = ball
Yes

In [37]:
# string inside list

In [39]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter English = "))
    total = physics+chemistry+math+english
    per = total/4
    data = f"{name} {physics} {chemistry} {math} {english} {total} {per}"
    info.append(data)
print(info)

Enter n = 2
Enter name = Anish
Enter physics = 78
Enter chemistry = 87
Enter math = 89
Enter English = 87
Enter name = Asish
Enter physics = 85
Enter chemistry = 74
Enter math = 96
Enter English = 95
['Anish 78 87 89 87 341 85.25', 'Asish 85 74 96 95 350 87.5']

In [40]:
# index remove del pop

In [42]:
a=['Apple',"Ball","Cat","Dog","Cat"]
a.index("Dog")

3

In [43]:
for i in range(len(a)):
    if a[i] == 'Cat':
        print(i)

2
4

In [44]:
a=['Apple',"Ball","Cat","Dog"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog']

In [45]:
a=['Apple',"Ball","Cat","Dog"]
del a[0:3:2]
print(a)

['Ball', 'Dog']

In [46]:
a=['Apple',"Ball","Cat","Dog"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog']

In [47]:
# remove()
a=['Apple',"Ball","Cat","Dog"]
a.remove('Cat')
print(a)

['Apple', 'Ball', 'Dog']

In [48]:
# remove()
a=['Apple',"Ball","Cat","Dog","Cat"]
a.remove('Cat')
print(a)

['Apple', 'Ball', 'Dog', 'Cat']

In [49]:
a=['Apple',"Ball","Cat","Dog","Cat"]
a.count('Cat')

2

In [50]:
# remove()
a=['Apple',"Ball","Cat","Dog","Cat"]
n = a.count('Cat')
for i in range(n-1):
    a.remove('Cat')
print(a)

['Apple', 'Ball', 'Dog', 'Cat']

In [51]:
a=['Apple',"Ball","Cat","Dog","Cat"]
a.pop(0)
# print(a)

'Apple'

In [52]:
a=['Apple',"Ball","Cat","Dog","Cat"]
b = a.pop(0)
print(a)
print(b)

['Ball', 'Cat', 'Dog', 'Cat']
Apple

In [56]:
# List inside list
a = [[],[],[]]
print(a)
type(a)
#len(a)

[[], [], []]

list

In [59]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a[0][0])
len(a)

1

3

In [60]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    no= int(input("Enter no = "))
    info = [name,no]
    data.append(info)
print(data)

Enter n = 2
Enter name = Raj
Enter no = 98452563
Enter name = Raja
Enter no = 987456
[['Raj', 98452563], ['Raja', 987456]]

In [61]:
data[0][0]

'Raj'

In [62]:
del data[0]
print(data)

[['Raja', 987456]]

In [63]:
a = [['Raj', 98452563], ['Raja', 987456]]

In [68]:
del a[0][0]
print(a)

IndexError: list assignment index out of range

In [69]:
a = [['Ram', 9876776565], ['Shyam', 9876665454]]
a[0].append(9867665654)
print(a)

[['Ram', 9876776565, 9867665654], ['Shyam', 9876665454]]

In [72]:
a[1].append
print(a)

[['Ram', 9876776565], ['Shyam', 9876665454], 9867665654]

In [71]:
a = [['Ram', 9876776565], ['Shyam', 9876665454]]
a.append(9867665654)
print(a)

[['Ram', 9876776565], ['Shyam', 9876665454], 9867665654]

In [78]:
a = [[1,2,3]]
b = [4,5,6]
a.append(b)
print(a)

[[1, 2, 3], [4, 5, 6]]

In [79]:
# list inside list
# search
# remove
# del
# update

In [82]:
a = [[1, 2, 3], [4, 5, 6]]
if 1 in a:
    print("Yes")
else:
    print("No")

No

In [85]:
b = 0
a = [[1, 2, 3], [1, 5, 6]]
for i in a:
    if 1 in i:
        b = b+1
print(b)

2