In [1]:
a = "Python"
type(a)

str

In [2]:
print(a)

Python

In [3]:
a[-6]

'P'

In [4]:
a[0:4]

'Pyth'

In [5]:
a[0:5:2]

'Pto'

In [7]:
a[1:4:2]

'yh'

In [9]:
a[5::-1]

'nohtyP'

In [10]:
a[0]

'P'

In [11]:
a = "Apple "
b = "Ball"
c = a+b
print(c)

Apple Ball

In [12]:
a = "Hello WOrld\n"
print(a*4)

Hello WOrld
Hello WOrld
Hello WOrld
Hello WOrld

In [13]:
name = "Ram"
age = 78
name+str(age)

'Ram78'

In [14]:
# string formatting
name = input("Enter name = ")
phone = input("Enter phone = ")
data = f"{name} {phone}"
print(data)

Enter name = Raju
Enter phone = 9861010575
Raju 9861010575

In [15]:
# string formatting
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data = f"{name} {phone}\n"
    info = info +data
print(info)

Enter n = 2
Enter name = Rahul
Enter phone = 9841010145
Enter name = Rajesh
Enter phone = 982156347
Rahul 9841010145
Rajesh 982156347

In [20]:
# string formatting
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter English = "))
    total = physics+chemistry+math+english
    per = total/4
    data = f"{name} {physics} {chemistry} {math} {english} {total} {per}\n"
    info = info +data
print(info)

Enter n = 3
Enter name = Danial
Enter physics = 78
Enter chemistry = 87
Enter math = 77
Enter English = 88
Enter name = Danish
Enter physics = 89
Enter chemistry = 98
Enter math = 88
Enter English = 99
Enter name = Dani
Enter physics = 85
Enter chemistry = 58
Enter math = 96
Enter English = 69
Danial 78 87 77 88 330 82.5
Danish 89 98 88 99 374 93.5
Dani 85 58 96 69 308 77.0

In [21]:
a = "Danial 78 87 77 88 330 82.5\nDanish 89 98 88 99 374 93.5\nDani 85 58 96 69 308 77.0"
print(a)

Danial 78 87 77 88 330 82.5
Danish 89 98 88 99 374 93.5
Dani 85 58 96 69 308 77.0

In [22]:
if "Dani" in a:
    print("Yes")
else:
    print("No")

Yes

In [23]:
a.count('Danial')

1

In [24]:
if "Dani" in a:
    print("Yes","The is ",a.count("Dani"))
else:
    print("No")

Yes The is  3

In [26]:
if "Dani" in a:
    n = a.count("Dani")
    print("Yes",f"The is {n} Dani")
else:
    print("No")

Yes The is 3 Dani

In [31]:
a = "Apple Ball"
a.split('-')

['Apple Ball']

In [32]:
a = "Danial 78 87 77 88 330 82.5\nDanish 89 98 88 99 374 93.5\nDani 85 58 96 69 308 77.0"
print(a)

Danial 78 87 77 88 330 82.5
Danish 89 98 88 99 374 93.5
Dani 85 58 96 69 308 77.0

In [37]:
data_array = a.split('\n')

In [38]:
data_array

['Danial 78 87 77 88 330 82.5',
 'Danish 89 98 88 99 374 93.5',
 'Dani 85 58 96 69 308 77.0']

In [39]:
data_array[2]

'Dani 85 58 96 69 308 77.0'

In [40]:
data_array[1]

'Danish 89 98 88 99 374 93.5'

In [41]:
data_array[0]

'Danial 78 87 77 88 330 82.5'

In [42]:
for i in range(2):
    if "Dani" in data_array[i]:
        print("Yes")
        print(data_array[i])

Yes
Danial 78 87 77 88 330 82.5
Yes
Danish 89 98 88 99 374 93.5

In [43]:
a = "Danial 78 87 77 88 330 82.5"
b = a.replace("Danial","Mark")
print(b)

Mark 78 87 77 88 330 82.5

In [44]:
a = "Danial Danish"
b = a.replace("Danish","")
print(b)

Danial

In [45]:
a = "Danial 78 87 77 88 330 82.5"
a = a.replace("Danial","Gita")
print(a)

Gita 78 87 77 88 330 82.5

In [46]:
a ="Danial 78 87 77 88 330 82.5"
a = a.replace("danial","Gita")
print(a)

Danial 78 87 77 88 330 82.5

In [47]:
a = "Danial 78 87 77 88 330 82.5"
if "Danial" in a:
    print("Yes")
else:
    print("No")

Yes

In [48]:
a = "apple"
a.upper()

'APPLE'

In [49]:
a = "BALL"
a.lower()

'ball'

In [50]:
a = "Danial 78 87 77 88 330 82.5"
a = a.lower()
s = "Danial"
s = s.lower()
if s in a:
    print("Yes")
else:
    print("No")

Yes

In [52]:
data_array = ['Danial 78 87 77 88 330 82.5','Danish 89 98 88 99 374 93.5','Dani 85 58 96 69 308 77.0']
for i in range(3):
    if "Danial" in data_array[i]:
        print("Yes")
        print(data_array[i])

Yes
Danial 78 87 77 88 330 82.5