In [1]:
a = ()
type(a)

tuple

In [2]:
# Tuple is
# ...IMutable datatype
# ...Ordered
# ...It follows indexing
# ...It can have multipe values

In [3]:
a = (1,2,)
type(a)

tuple

In [4]:
a = (1,2,3)
b = (4,5,6)
a+b

(1, 2, 3, 4, 5, 6)

In [5]:
a = (1,2,3)
a*2

(1, 2, 3, 1, 2, 3)

In [6]:
a = ()
b = (1,)
c = a+b
c

(1,)

In [10]:
c = ()
for i in range(5):
    a = int(input("Enter a = "))
    c = c+(a,)
print(c)

Enter a = 12
Enter a = 23
Enter a = 34
Enter a = 45
Enter a = 56
(12, 23, 34, 45, 56)

In [11]:
for i in c:
    print(i)

12
23
34
45
56

In [12]:
a = ("Ram","Shyam","Hari","Gita","Shyam")
if "Ram" in a:
    print("Yes",a.count("Shyam"))

Yes 2

In [13]:
len(a)

5

In [14]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    no= int(input("Enter no = "))
    data = data+(no,)
print("The tuple is = ",data)
print("The max value is = ",max(data))
print("The min value is = ",min(data))
print("The sum value is = ",sum(data))
print("The avg value is = ",sum(data)/n)

Enter n = 3
Enter no = 23
Enter no = 34
Enter no = 45
The tuple is =  (23, 34, 45)
The max value is =  45
The min value is =  23
The sum value is =  102
The avg value is =  34.0

In [15]:
a = ["ball",'Zebra','1xray','@bat']
a = sorted(a)
print(a)

['1xray', '@bat', 'Zebra', 'ball']

In [16]:
a = ('Fish', 'Apple', 'Ball', 'cat', 'Dog')
a[0].upper()

'FISH'

In [17]:
print(a)

('Fish', 'Apple', 'Ball', 'cat', 'Dog')

In [18]:
a = ('Fish', 'Apple', 'Ball', 'cat', 'Dog')
b = ()
for i in a:
    x = i.upper()
    b=b+(x,)
print(b)

('FISH', 'APPLE', 'BALL', 'CAT', 'DOG')

In [19]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter English = "))
    total = physics+chemistry+math+english
    per = total/4
    data = f"{name} {physics} {chemistry} {math} {english} {total} {per}"
    info = info+(data,)
print(info)

Enter n = 2
Enter name = Asha
Enter physics = 47
Enter chemistry = 54
Enter math = 56
Enter English = 74
Enter name = Neela
Enter physics = 87
Enter chemistry = 89
Enter math = 98
Enter English = 88
('Asha 47 54 56 74 231 57.75', 'Neela 87 89 98 88 362 90.5')

In [20]:
a=('Apple',"Ball","Cat","Dog","Cat")
a.index("Cat")

2

In [21]:
for i in range(len(a)):
    if a[i] == 'Cat':
        print(i)

2
4

In [22]:
a = (1,2,3,4)
b = list(a)
print(b)
print(tuple(b))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [23]:
a = (1,2,3,4)
b = list(a)
b.remove(4)
a = tuple(b)
print(a)

(1, 2, 3)

In [24]:
a = list("Python")
print(a)

['P', 'y', 't', 'h', 'o', 'n']

In [25]:
a = tuple("Python")
print(a)

('P', 'y', 't', 'h', 'o', 'n')

In [26]:
a = list("Python")
str(a)

"['P', 'y', 't', 'h', 'o', 'n']"

In [27]:
# tuple inside tuple

In [28]:
a = ((1,2,3),(4,5,6),(7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [29]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    no= int(input("Enter no = "))
    info = (name,no)
    data= data+(info,)
print(data)

Enter n = 2
Enter name = Shristi
Enter no = 98523641
Enter name = Ameera
Enter no = 986532
(('Shristi', 98523641), ('Ameera', 986532))

In [31]:
a = (('Shristi', 98523641), ('Ameera', 986532))
print(a)
list(a)

(('Shristi', 98523641), ('Ameera', 986532))

[('Shristi', 98523641), ('Ameera', 986532)]

In [32]:
list_inside_list = []
a = (('Shristi', 98523641), ('Ameera', 986532))
for i in a:
    x = list(i)
    list_inside_list.append(x)
    
print(list_inside_list)

[['Shristi', 98523641], ['Ameera', 986532]]

In [34]:
a = [('Shristi', 98523641), ('Ameera', 986532)]
a[0] = ("Ram Prasad",9867665654)
print(a)

[('Ram Prasad', 9867665654), ('Ameera', 986532)]

In [38]:
a =[('Shristi', 98523641), ('Ameera', 986532)]
a[0]= "Ram Prasad"
print(a)

['Ram Prasad', ('Ameera', 986532)]

In [39]:
a = [('Ram', 7887), ('Shyam', 8689989)]
a.append(("Shyam",9867665654))
print(a)

[('Ram', 7887), ('Shyam', 8689989), ('Shyam', 9867665654)]

In [40]:
a = (['Ram', 9841676654], ['Shyam', 9843757689])
a[0].append(9808556543)
print(a)

(['Ram', 9841676654, 9808556543], ['Shyam', 9843757689])